* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(102, 0, 204, 0.65), rgb(102, 0, 204, 0.65)), url("/assets/image/background.jpg");
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgb(242, 242, 242);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    align-items: center;
    margin: 3.5% 0 0 0;
    font-size: 40px;
    color: rgb(242, 242, 242);
}

.thankyou {
    margin-bottom: 30px;
}

p {
    text-align: left;
    align-items: center;
    margin: 25px 0 8px 0;
    font-size: 22px;
    font-weight: 500;
}

span {
    font-size: 18px;
}
.container {
    width: 700px;
    height: 100%;
    border: 1px solid rgb(38, 0, 77);
    border-radius: 0.9%;
    background-color: rgb(26, 0, 51, 0.7);
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 5px;
}

.institute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.primeira {
    margin-bottom: 14px;
}

textarea {
    text-align: left;
    align-items: center;
    margin: 18px 0 25px 0;
    font-size: 28px;
    font-weight: 500;
}

.query {
    text-align: left;
    align-items: center;
    margin-top: 22px;
    font-size: 22px;
    font-weight: 500;
}

button {
    transition: .30s ease all;
    margin-bottom: 20px;
}

[type="radio"] {
    margin-right: 5px;
}

[type="checkbox"] {
    margin-right: 5px;
}